<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="assets/css/all.css")
  body
    .container
      .col-md-6
        h1 這是 Gulp-Less 的測試
      .col-md-6
        .bg-primary .bg-primary
    script(src="assets/js/allVendors.js")
    script(src="assets/js/all.js")
